{% extends 'base.html' %} {% block content %}
<div class="flex justify-center mx-auto p-4 mt-2 sm:mt-0">
  <div class="text-2xl font-bold mb-4"></div>

  <div
    class="bg-white shadow-xl rounded-xl px-8 pt-6 pb-8 mb-4 w-full lg:w-1/2"
  >
    <form method="POST" action="{{ url_for('q10') }}" id="answerForm">
      <p class="text-lg font-semibold mb-4">
        Q10/10: Does your child stare at nothing with no apparent purpose?
      </p>

      <div class="relative mt-4 border p-4">
        <div id="exampleDropdown">
          <p class="text-sm font-normal mb-2">
            <b>Example 1:</b> Does your child sometimes seem to fixate on
            something, like staring at a spot on the wall or into space, without
            an obvious reason or interest in what's there?
          </p>
          <p id="example2" class="text-sm font-normal mb-2 hidden">
            <b>Example 2:</b> Have you noticed instances where your child
            appears to be lost in thought or fixated on a particular point,
            perhaps gazing into space or at an object, without any discernible
            reason or clear focus on what captivates their attention?
          </p>
        </div>
      </div>

      <button
        type="button"
        id="dropdownButton"
        class="text-sm font-normal mb-2 focus:outline-none mx-auto text-blue-500"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="inline-block w-4 h-4 ml-1"
          id="arrowIcon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
        <span id="buttonText">Show More</span>
      </button>

      <input type="radio" id="A" name="answer10" value="1" class="hidden" />
      <label for="A" class="cursor-pointer block mb-2 option-label" data-id="A"
        >Many times a day</label
      >

      <input type="radio" id="B" name="answer10" value="1" class="hidden" />
      <label for="B" class="cursor-pointer block mb-2 option-label" data-id="B"
        >A few times a day</label
      >

      <input type="radio" id="C" name="answer10" value="1" class="hidden" />
      <label for="C" class="cursor-pointer block mb-2 option-label" data-id="C"
        >A few times a week</label
      >

      <input type="radio" id="D" name="answer10" value="0" class="hidden" />
      <label for="D" class="cursor-pointer block mb-2 option-label" data-id="D"
        >Less than once a week</label
      >

      <input type="radio" id="E" name="answer10" value="0" class="hidden" />
      <label for="E" class="cursor-pointer block mb-2 option-label" data-id="E"
        >Never</label
      >
      <!-- Add more labels as needed -->

      <div id="errorMessage" class="text-sm text-red-500 mb-2 hidden"></div>

      <div class="flex items-center justify-between mt-4">
        <a
          href="{{ url_for('q9') }}"
          class="text-center md:w-1/5 w-1/3 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-xl focus:outline-none focus:shadow-outline"
        >
          Back
        </a>
        <button
          type="submit"
          class="md:w-1/5 w-1/3 bg-blue-800 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-xl focus:outline-none focus:shadow-outline"
        >
          Next
        </button>
      </div>
    </form>
  </div>
</div>
<div id="myModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span
    >&#8203;

    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Disclaimer
            </h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">
                This screening tool is intended for research purposes and is
                designed to help identify autistic traits in toddlers, but it is
                not a diagnostic tool for ASD. Rather, it serves as a reference
                for parents, caregivers, and healthcare professionals in
                understanding the child's risk of having ASD or other
                neurodevelopmental disorders.
                <b>
                  The result is not an indication of autism in the respondent.
                </b>
                <br />
                <br />
                By using this tool, you acknowledge that your anonymized data
                may be included in the research study.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button
          type="button"
          id="acceptButton"
          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base leading-6 font-medium text-white hover:bg-blue-700 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-800 sm:ml-3 sm:w-auto sm:text-sm"
        >
          I Accept
        </button>
        <button
          type="button"
          id="closeButton"
          class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const labels = document.querySelectorAll(".option-label");
    labels.forEach(function (label) {
      label.addEventListener("click", function () {
        labels.forEach(function (el) {
          el.classList.remove("selected");
        });
        this.classList.add("selected");
        // Save the selected option in sessionStorage with the key 'q1'
        const selectedOptionText = this.innerText.trim();
        sessionStorage.setItem("q10", selectedOptionText);
      });
    });

    const dropdownButton = document.getElementById("dropdownButton");
    const example2 = document.getElementById("example2");
    const arrowIcon = document.getElementById("arrowIcon");
    const buttonText = document.getElementById("buttonText");
    const errorMessage = document.getElementById("errorMessage");

    dropdownButton.addEventListener("click", function () {
      example2.classList.toggle("hidden");
      arrowIcon.style.transform = example2.classList.contains("hidden")
        ? "rotate(0deg)"
        : "rotate(180deg)";
      const isHidden = example2.classList.contains("hidden");
      buttonText.innerText = isHidden ? "Show More" : "Show Less";
      buttonText.style.color = "blue";

      // Clear error message when toggling dropdown
      errorMessage.classList.add("hidden");
    });

    const answerForm = document.getElementById("answerForm");
    const backButton = document.querySelector(".back-button");
    const modal = document.getElementById("myModal");
    const acceptButton = document.getElementById("acceptButton");
    const closeButton = document.getElementById("closeButton");

    answerForm.addEventListener("submit", function (event) {
      const selectedOption = document.querySelector(
        'input[name="answer10"]:checked'
      );
      if (!selectedOption) {
        errorMessage.innerText = "Please select an answer before proceeding.";
        errorMessage.classList.remove("hidden");
        event.preventDefault(); // Prevent form submission
      } else {
        // Show the modal when the form is successfully submitted

        modal.classList.toggle("show", true);

        // Prevent the default form submission behavior only after showing the modal
        event.preventDefault();
      }
    });

    acceptButton.addEventListener("click", function () {
      // Add your logic for form submission or navigation here
      answerForm.submit();
      modal.classList.toggle("show", false);
    });

    closeButton.addEventListener("click", function () {
      modal.classList.toggle("show", false);
    });

    backButton.addEventListener("click", function () {
      window.history.back();
    });
  });
</script>

<style>
  .option-label {
    color: black;
    padding: 0.75rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .option-label.selected {
    background-color: #d2d6dc;
  }
  #myModal {
    display: none;
  }

  #myModal.show {
    display: block;
  }
</style>

{% endblock %}
