{% extends 'base.html' %} {% block content %}
<div class="flex justify-center mx-auto p-4 mt-2 sm:mt-0">
  <div class="text-2xl font-bold mb-4"></div>

  <div
    class="bg-white shadow-xl rounded-xl px-8 pt-6 pb-8 mb-4 w-full lg:w-1/2"
  >
    <form method="POST" action="{{ url_for('q8') }}" id="answerForm">
      <p class="text-lg font-semibold mb-4">
        Q8/10: Would you describe your child's first word as:
      </p>

      <div class="relative mt-4 border p-4">
        <div id="exampleDropdown">
          <p class="text-sm font-normal mb-2">
            <b>Typical first words of a child:</b> Mama, Dada, Bye-bye, Hi,
            Ball, Dog, Cat, No, Yes, Baby
          </p>
          <p class="text-sm font-normal mb-2">
            <b>Example 1:</b> If your child has started speaking, how would you
            describe the first words they used? Were they typical words for a
            child of their age?
          </p>
          <p id="example2" class="text-sm font-normal mb-2 hidden">
            <b>Example 2:</b> Think back to when your child began speaking. Can
            you describe the first words they used? Were these initial words
            typical for a child of their age, or did they include any unusual or
            distinctive elements that caught your attention during their early
            language development?
          </p>
        </div>
      </div>

      <button
        type="button"
        id="dropdownButton"
        class="text-sm font-normal mb-2 focus:outline-none mx-auto text-blue-500"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="inline-block w-4 h-4 ml-1"
          id="arrowIcon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
        <span id="buttonText">Show More</span>
      </button>

      <input type="radio" id="A" name="answer8" value="0" class="hidden" />
      <label for="A" class="cursor-pointer block mb-2 option-label" data-id="A"
        >Very typical</label
      >

      <input type="radio" id="B" name="answer8" value="0" class="hidden" />
      <label for="B" class="cursor-pointer block mb-2 option-label" data-id="B"
        >Quite typical</label
      >

      <input type="radio" id="C" name="answer8" value="1" class="hidden" />
      <label for="C" class="cursor-pointer block mb-2 option-label" data-id="C"
        >Slightly unusual</label
      >

      <input type="radio" id="D" name="answer8" value="1" class="hidden" />
      <label for="D" class="cursor-pointer block mb-2 option-label" data-id="D"
        >Very unusual</label
      >

      <input type="radio" id="E" name="answer8" value="1" class="hidden" />
      <label for="E" class="cursor-pointer block mb-2 option-label" data-id="E"
        >My child doesn't speak</label
      >
      <!-- Add more labels as needed -->

      <div id="errorMessage" class="text-sm text-red-500 mb-2 hidden"></div>

      <div class="flex items-center justify-between mt-4">
        <a
          href="{{ url_for('q7') }}"
          class="text-center md:w-1/5 w-1/3 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-xl focus:outline-none focus:shadow-outline"
        >
          Back
        </a>
        <button
          type="submit"
          class="md:w-1/5 w-1/3 bg-blue-800 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-xl focus:outline-none focus:shadow-outline"
        >
          Next
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const labels = document.querySelectorAll(".option-label");
    labels.forEach(function (label) {
      label.addEventListener("click", function () {
        labels.forEach(function (el) {
          el.classList.remove("selected");
        });
        this.classList.add("selected");
        // Save the selected option in sessionStorage with the key 'q1'
        const selectedOptionText = this.innerText.trim();
        sessionStorage.setItem("q8", selectedOptionText);
      });
    });

    const dropdownButton = document.getElementById("dropdownButton");
    const example2 = document.getElementById("example2");
    const arrowIcon = document.getElementById("arrowIcon");
    const buttonText = document.getElementById("buttonText");
    const errorMessage = document.getElementById("errorMessage");

    dropdownButton.addEventListener("click", function () {
      example2.classList.toggle("hidden");
      arrowIcon.style.transform = example2.classList.contains("hidden")
        ? "rotate(0deg)"
        : "rotate(180deg)";
      const isHidden = example2.classList.contains("hidden");
      buttonText.innerText = isHidden ? "Show More" : "Show Less";
      buttonText.style.color = "blue";

      // Clear error message when toggling dropdown
      errorMessage.classList.add("hidden");
    });

    const answerForm = document.getElementById("answerForm");
    const backButton = document.querySelector(".back-button");

    answerForm.addEventListener("submit", function (event) {
      const selectedOption = document.querySelector(
        'input[name="answer8"]:checked'
      );
      if (!selectedOption) {
        errorMessage.innerText = "Please select an answer before proceeding.";
        errorMessage.classList.remove("hidden");
        event.preventDefault(); // Prevent form submission
      }
    });

    // Add click event listener to the back button
    backButton.addEventListener("click", function () {
      window.history.back();
    });
  });
</script>

<style>
  .option-label {
    color: black;
    padding: 0.75rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .option-label.selected {
    background-color: #d2d6dc;
  }
</style>

{% endblock %}
